<div class="container">
  <h2>Reviews for <%= @restaurant.name %></h2>

  <ul>
    <% @reviews.each do |review| %>
      <li><%= review.content %>(Rating: <%= review.rating %>)</li>
    <% end %>
  </ul>

  <%= link_to 'Back to restaurant', restaurant_path(@restaurant) %>
</div>
